
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="animated fadeIn">
    <div class="row">
   
        
            <iframe width="750" height="550" src="@ViewBag.ViewerLink"></iframe>
        
                        
                        
        


     

    </div><!-- .row -->
</div><!-- .animated -->

