@{
    ViewBag.Title = "Email Link";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    }




<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">

            <div class="login-form">
                <form>

                    <h4>
                        Please check your email and confirm your email address
                     </h4>

                </form>
            </div>
        </div>
    </div>
</div>
