@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}










<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <div class="mx-auto d-block">
                <h5 class="text-sm-center mt-2 mb-1">Username</h5>
                <h6 class="text-sm-center mt-2 mb-1">@Html.DisplayFor(model => model.UserName)</h6>
                 </div>
            <hr>
            
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })

            </div>
        }
        <div class="card-footer">
            <strong class="card-title mb-3">Profile Card</strong>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery.validate.js"></script>
