@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <strong class="card-title mb-3">Profile Card</strong>
        </div>
        <div class="card-body">
            <div class="mx-auto d-block">
                
                <h5 class="text-sm-center mt-2 mb-1">@Html.DisplayFor(model => model.UserName)</h5>
                </div>
            <hr>

            <div class="card-text text-sm-center">
                <h4>List of roles for this user</h4>
                @if (ViewBag.RoleNames.Count == 0)
                {
                    <hr />
                    <p>No roles found for this user.</p>
                }

                <table class="table">

                    @foreach (var item in ViewBag.RoleNames)
                    {
                        <tr>
                            <td>
                                @item
                            </td>
                        </tr>
                    }
                </table>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class= "btn btn-warning btn-sm" }) 
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary btn-sm" })
        </div>
    </div>
</div>









