@model Sharpness.WebApp.Models.SharpnessViewModels
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

}


<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">My WSIs and Reports</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titel</th>
                        <th scope="col">Description</th>
                        <th scope="col">Creation</th>
                        <th scope="col">Report</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;
                            foreach (var item in Model.WSIs)
                            {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.Titel</td>
                        <td>@item.Description</td>
                        <td>@item.Creation</td>
                        <td><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-star"></i>&nbsp; Report</button></td>
                    </tr>
                            i++;
                        }
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>